h1 {
text-align :center;

}

body { color: black; 
		font-family: Arial, Helvetica, Sans-serif;
		font-size:10pt;
		margin: 0 auto;
}


#content {margin:0 auto;
         width:700px;
         border: 2px solid black;
}

#left {float:left;
          width:180px;
          border:2px solid    he;
          height:500px;
          padding:20px 5px 5px 5px
}

#right {float:right;
          width:450px;
          border:2px solid black;
          padding:20px 5px 5px 35px;
          height:500px;
}